.container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 400px; 
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #0079d3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90px
}

.button:hover {
  background-color: #005da6; 
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: row; 
    align-items: center; 
    gap: 8px;
  }

  .input {
    padding: 8px;
    font-size: 12px; 
    width: 60%; 
  }

  .button {
    padding: 8px 12px; 
    font-size: 10px; 
    width: 30%; 
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: row; 
    align-items: center; 
    gap: 1px;
  }

  .input {
    padding: 3px;
    font-size: 11px; 
    width: 70%; 
  }

  .button {
    padding: 3px 3px; 
    font-size: 10px; 
    width: 30%; 
  }
}